#!/usr/bin/make -f

%:
	dh $@ --with python3,sphinxdoc --buildsystem pybuild

override_dh_auto_test:

v_dir := usr/lib/$(shell py3versions -d)/dist-packages/setuptools/_vendor

override_dh_auto_install:
	dh_auto_install

	PYTHONPATH=$(CURDIR) $(MAKE) -C docs html

	mkdir -p debian/python3-setuptools-whl/usr/share/python-wheels
	python3 setup.py bdist_wheel \
	        -d debian/python3-setuptools-whl/usr/share/python-wheels

	# dh_pypy from dh-python < 1.20150705-1 falls over requires.txt
	# and our requires.txt aren't useful
	find debian/tmp -name requires.txt -delete

	find debian/tmp -name '*.exe' | xargs -r rm -f

override_dh_install:
	dh_install
	find debian/python3-pkg-resources
	find debian/python3-setuptools
	: # move vendored modules required by pkg_resources
	set -e; \
	for py in $$(py3versions -s); do \
	  vdir=usr/lib/$$py/dist-packages/setuptools/_vendor; \
	  mkdir -p debian/python3-pkg-resources/$$vdir/jaraco; \
	  mv \
	    debian/python3-setuptools/$$vdir/packaging \
	    debian/python3-setuptools/$$vdir/packaging-*.dist-info \
	    debian/python3-setuptools/$$vdir/platformdirs \
	    debian/python3-setuptools/$$vdir/platformdirs-*.dist-info \
	    debian/python3-setuptools/$$vdir/jaraco.text-*.dist-info \
		debian/python3-pkg-resources/$$vdir/.; \
	  mv \
	    debian/python3-setuptools/$$vdir/jaraco/text \
		debian/python3-pkg-resources/$$vdir/jaraco/.; \
	done
	find debian/python3-pkg-resources
	find debian/python3-setuptools


override_dh_installchangelogs:
	dh_installchangelogs NEWS.rst

override_dh_auto_clean:
#	Dont run dh_auto_clean, dh-python now removes the egg-info dir.
#	dh_auto_clean
	rm -rf .pybuild
	rm -rf build

	rm -rf .eggs docs/build

override_dh_installdocs:
	dh_installdocs -p python3-pkg-resources \
	               docs/pkg_resources.rst
	dh_installdocs -p python3-setuptools \
	               -X pkg_resources docs/*.rst
	dh_installdocs -p python-setuptools-doc docs/build/html
	dh_installdocs --remaining-packages
	dh_link -p python-setuptools-doc \
	        /usr/share/doc/python-setuptools-doc/html \
	        /usr/share/doc/python3-setuptools/html \

#	        /usr/share/doc/python-setuptools-doc/html \
#	        /usr/share/doc/pypy-setuptools/html
